Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^register/(.*)/ register.php?code=$1
RewriteRule ^register/(.*) register.php?code=$1
RewriteRule ^register/ register.php
RewriteRule ^register register.php

RewriteRule ^forgot/ fpass.php
RewriteRule ^forgot fpass.php

RewriteRule ^resetpass/ resetpass.php
RewriteRule ^resetpass resetpass.php

RewriteRule ^login/(.*)/ login.php?code=$1
RewriteRule ^login/(.*) login.php?code=$1
RewriteRule ^login/ login.php
RewriteRule ^login login.php

RewriteRule ^verify verify.php


RewriteRule ^app/questions/(.*)/(.*)/(.*)/(.*)/(.*)/ app.php?p=questions&page_no=$1&search=$2&category=$3&date=$4&level=$5
RewriteRule ^app/questions/(.*)/(.*)/(.*)/(.*)/(.*) app.php?p=questions&page_no=$1&search=$2&category=$3&date=$4&level=$5
RewriteRule ^app/questions/(.*)/(.*)/(.*)/(.*)/ app.php?p=questions&page_no=$1&search=$2&category=$3&date=$4
RewriteRule ^app/questions/(.*)/(.*)/(.*)/(.*) app.php?p=questions&page_no=$1&search=$2&category=$3&date=$4
RewriteRule ^app/questions/(.*)/(.*)/(.*)/ app.php?p=questions&page_no=$1&search=$2&category=$3
RewriteRule ^app/questions/(.*)/(.*)/(.*) app.php?p=questions&page_no=$1&search=$2&category=$3
RewriteRule ^app/questions/(.*)/(.*)/ app.php?p=questions&page_no=$1&search=$2
RewriteRule ^app/questions/(.*)/(.*) app.php?p=questions&page_no=$1&search=$2
RewriteRule ^app/questions/(.*)/ app.php?p=questions&page_no=$1
RewriteRule ^app/questions/(.*) app.php?p=questions&page_no=$1
RewriteRule ^app/questions/ app.php?p=questions
RewriteRule ^app/questions app.php?p=questions

RewriteRule ^app/(.*)/ app.php?p=$1
RewriteRule ^app/(.*) app.php?p=$1
RewriteRule ^app/ app.php
RewriteRule ^app app.php

RewriteRule ^users/logout ./index.php?p=logout
RewriteRule ^users/lost/(.*)/(.*)/ ./index.php?p=lost&email=$1&code=$2
RewriteRule ^users/lost/(.*)/(.*) ./index.php?p=lost&email=$1&code=$2
RewriteRule ^users/lost ./index.php?p=lost